<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{content}}</title>
    <link rel="stylesheet" href="/css/external.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<h1>Hi, my name is lam</h1>
<h3>I'm learning devops in Udacity</h3>

<img src="\static\images\UDC.jpg" width="500" alt="Udacity" />


<script src="/js/external.js"></script>
<script src="/js/app.js"></script>
</body>
</html>